/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap'); */


/* using local fonts */
@font-face {
    font-family: "Inconsolata"; 
    src: url('./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype'); 
    font-weight: 400; 
}
@font-face {
    font-family: "Inconsolata"; 
    src: url('./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype'); 
    font-weight: 500; 
}
@font-face {
    font-family: "Inconsolata"; 
    src: url('./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype'); 
    font-weight: 700; 
}
@font-face {
    font-family: "Inconsolata"; 
    src: url('./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype'); 
    font-weight: 800; 
}


:root {
    /* Colors */
    --color-Neutral-0: hsl(0, 0%, 100%);
    --color-Neutral-300: hsl(252, 6%, 83%);
    --color-Neutral-500: hsl(245, 15%, 58%);
    --color-Neutral-700: hsl(245, 19%, 35%);
    --color-Neutral-900: hsl(248, 70%, 10%);
    --color-Orange-500: hsl(7, 88%, 67%);
    --color-Orange-600: hsl(7, 71%, 60%);
    --color-linear-1: hsl(7, 86%, 67%);
    --color-linear-2:  hsl(0, 0%, 100%);
  
    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
  
    /* Typography */
    --font-family: "Inconsolata", serif;
    --font-size-base: 16px;
    --font-size-large: 20px;
    --font-w-400: 400;
    --font-w-500: 500;
    --font-w-700: 700;
    --font-w-800: 800;
      /* Sizes */
    --sm: 0.5rem;
    --md: 0.75rem;
    --la: 1rem;
    --xl: 1.5rem;
    --xxl: 2rem;
}

/* CSS Reset */

/* Box sizing reset */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

html {
    height: 100%;
}

/* Set core body defaults */
body {
    line-height: 1.5;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] {
    list-style: none;
}

/* A better default for images */
img {
    max-width: 100%;
    display: block;
}


/* Normal CSS */
body {
    background-image: url('./assets/images/pattern-lines.svg'), url('./assets/images/pattern-squiggly-line-top.svg'), url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'), url('./assets/images/background-mobile.png');
    background-repeat: no-repeat;
    background-position: top center, top right, bottom left, center;
    background-size: auto, 100px, 300px, cover;
    color: var(--color-Neutral-0);
    height: 100%;
    overflow: auto;
    white-space: normal;
}

.container {
    position: relative;
    width: 95%;
    max-width: 1250px;
    min-height: 100vh;
    padding: 1rem;
    margin-inline: auto;
}

.heading {
    text-align: center;
    margin: 1.2em 0;
}

.logo  {
    font-weight: var(--font-w-500);
    font-size: var(--font-size-large);
    display: flex;
    gap: .80em;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 25px;
}

.hero-text {
    margin: 2em 0;
}

.hero-title {
    font-size: 1.8rem;
    font-weight: var(--font-w-700);
    line-height: 1;
}

.hero-subtitle {
    font-size: 1.1rem;
    color: var(--color-Neutral-300);
    font-weight: var(--font-w-700);
    margin: .7em 0;
}

.forms {
    color: var(--color-Neutral-300);
    font-weight: var(--font-w-500);
    max-width: 550px;
    margin-inline: auto;
    margin-bottom: 1em;
}

.form_group {
    margin: 1.8rem 0;
}

.upload_area {
    min-height: 120px;
    text-align: center;
    padding: 1rem;
    border: 2px dashed var(--color-Neutral-700);
    cursor: pointer;
}

.upload_area img {
    background-color: hsla(245, 15%, 58%, 30%);
    padding: .6rem;
    margin-inline: auto;
    border-radius: 8px;
}

.upload_area p {
    color: var(--color-Neutral-500);
    margin: .8rem 0 -1rem;
}

.form_input, .upload_area {
    background-color: hsla(245, 19%, 35%, 30%);
    outline: none;
    border-radius: 8px;
    width: 100%;
    margin: .5rem 0 0;
}

.form_group .upload_info {
    color: var(--color-Neutral-300);
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
}

.form_group .form_label {
    color: var(--color-Neutral-0);
    font-size: 1.1rem;
}

.form_group .form_input {
    color: var(--color-Neutral-300);
    font-size: 1rem;
    display: block;
    padding: .7rem;
    border: 1px solid var(--color-Neutral-700);
}

.form_group .form_input:focus {
    outline: 2px solid var(--color-Neutral-300);
}

/* input[type="email"] {
    color: red
} */

.upload_note {
    font-size: .7rem;
}

#submit-btn {
    background-color: var(--color-Orange-500);
    color: var(--color-Neutral-900);
    font-size: 1rem;
    font-weight: var(--font-w-700);
    width: 100%;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: var(--color-Orange-600);
}

.hidden {
    display: none;
}


/* Generated tickets */

#user_fullname {
    background: linear-gradient(var(--color-linear-1), var(--color-linear-2));
    background-clip: text;
    color: transparent;
}

.display__ticket {
    position: relative;
    max-width: 550px;
    margin: 10vh auto;
  }
  
  .ticket__card {
    width: 100%;
    height: 100%;
  }
  
  .ticket__card svg {
    display: block;
    height: 100%;
  }
  
  .ticket__info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: min(90%, 200px);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sm);
  }
  
  .display__ticket .wrapper,
  .display__ticket .sub-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .display__ticket .wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: var(--la);
  }
  
  .display__ticket h3 {
    font-size: clamp(var(--sm), 4vw + 0.25rem, var(--xxl));
  }
  
  .display__ticket h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6125rem;
  }
  
  .display__ticket .ticket__number {
    font-size: clamp(var(--sm), 4vw + 0.25rem, var(--xxl));;
    transform: rotate(90deg);
    opacity: 0.5;
  }

  .sub-wrapper h4, .person-username {
    font-size: clamp(var(--md), 1.5vw + 0.25rem, var(--xl));
  }
  
  .person-avatar img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    align-self: center;  
    display: block;      
    margin: auto;   
    border-radius: 5px;
  }



@media screen and (min-width: 40em) {
    html {
        height: auto;
    }
    body {
        background:
        url('./assets/images/pattern-lines.svg') no-repeat top center,
        url('./assets/images/pattern-squiggly-line-top.svg') no-repeat top right,
        url('./assets/images/pattern-squiggly-line-bottom-desktop.svg') no-repeat bottom left,
        url('./assets/images/background-desktop.png') no-repeat center /cover ;
    }
    .heading .hero-title {
        font-size: 3rem;
        max-width: 30ch;
        margin-inline: auto;
    }
}

