@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    /* colors */
    --clr-violet: hsl(257, 40%, 49%);
    --clr-magenta: hsl(300, 69%, 71%);

    /* fonts */
    --ff-main: 'Open Sans', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: inline;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--clr-violet);
    color: white;
    font-family: var(--ff-main);
}

img {
    max-width: 100%;
}

.container {
    margin: 2.5em 1.5em;
    
}

.logo {
    width: 140px;
}

.main-title {
    font-size: 1.5em;
}

.main-content {
    text-align: center;
}

.socials {

}

.social {
    width: 20px;
    border: 1px solid wheat;
}