@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    /* colors */
    --clr-violet: hsl(257, 40%, 49%);
    --clr-magenta: hsl(300, 69%, 71%);

    /* fonts */
    --ff-main: 'Open Sans', sans-serif;
    --ff-titles: 'Poppins', sans-serif;
    --fw-400: 400;
    --fw-600: 600;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: inline;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--clr-violet);
    color: white;
    font-family: var(--ff-main);
}

img {
    max-width: 100%;
}

.container {
    margin: 3em 1.3em;
    padding: 0 1em;
}

.logo {
    width: 140px;
}

.main-title {
    font-family: var(--ff-titles);
    font-weight: var(--fw-600);
    margin: 3.5rem 0 1.3rem;
}

.main-content {
    text-align: center;
    font-weight: var(--ff-main);
}

/* .main-text {
    margin-bottom: 3.125rem;
} */

.btn {
    background-color: #fff;
    font: inherit;
    color: var(--clr-violet);
    font-size: .75rem;
    padding: 1em 6.5em;
    outline: none;
    border: none;
    margin: 1.5rem 0 3.125rem;
    border-radius: 2em;
    box-shadow: 0 20px 35px -10px black;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-magenta);
  color: #fff;
  cursor: pointer;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.social-link {
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 1rem;
    outline: 1px solid white;
    border-radius: 50%;
}

.social-link a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus {
  color: var(--clr-magenta);
}

.social-link:hover,
.social-link:focus {
  outline: 1px solid var(--clr-magenta);
}

@media screen and (min-width: 60em) {
  
  body {
    background-image: url(images/bg-desktop.svg);
  }
  .container {
    display: flex;
    gap: 2.5em;
    align-items: center;
  }
  .main-content {
    max-width: 500px;
    text-align: left;
    
  }
  .main-title {
    font-size: 2.4rem;
  }
  .social-media {
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .btn {
    font-size: 1.1rem;
    padding: .75em 4.3em;
  }

}